{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django practice</title>
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {# <li><a href="/projects">Projects</a></li> cuando no tiene name parametewr la ruta seria asi #}
      <li><a href="{% url 'projects' %}">Projects</a></li>
    </ul>
  </nav>

  {% block content %}
  {% endblock %}
</body>
</html>
